{% extends "base.html" %}
{% block title%}
  Analistas
{% endblock %}
{% block content %}
<h2 class="h2">Registered Analists</h2>

<article class="container-objects">
{% if analistas.count == 0%}
    <h3 class="h2">No Analists</h3>
{% else %}
    <section>
    <div class="row">
        <div class="column">ID</div>
        <div class="column">Name</div>
        <div class="column">Last Name</div>
    </div>
    {% for analista in analistas %}
    <div class="row">
        <div class="column">{{analista.id}}</div>
        <div class="column">{{analista.name}}</div>
        <div class="column">{{analista.lastn}}</div>
    </div>
    {% endfor %}
    </section> 
    {% endif %}
    <div class="submit-input">
        <button class="btn"><a href="/">Home</a></button>
        <button class="btn"><a href="crear-analista">Register Analist</a></button>
    </div>
</article>

{% endblock %}