{% extends "base.html" %}
{% block title%}
  Plant Registration
{% endblock %}

{% block nav_list %}
  {% if active_admin.active == True %}
  <li><a href="admin-page">{{active_admin.lastn}}, {{active_admin.name}}</a></li>
  {% else %}
  <li><a href="login-form">Log In</a></li>
  <li><a href="signup-form">Sign Up</a></li>
  {% endif %}
{% endblock %}

{% block content %}
{% if active_admin.active == True %}
<h2 class="h2">Register Plant</h2>
<article class="form-container">
  <form action="crear-planta/nuevo" method="post">
    {% csrf_token %}
    <div class="form-input">
      <label for="plant_name">Name: </label>
      <input type="text" placeholder="Nombre de la planta..." name="plant_name" id="plant_name" required>
  </div>
  <div class="form-input">
      <label for="plant_location">Location: </label>
      <input type="text" placeholder="Ubicacion de la planta..." name="plant_location" id="plant_location" required>
  </div>
  <div class="submit-input">
      <button class="btn"><a href="/">Home</a></button>
      <input type="submit" class="submit-btn btn" value="Create">
  </div>
  </form>
</article>
{% else %}
<h2 class="h2">You are not authenticated</h2>
<p>Please <a href="login-form">Log In</a></p>
{% endif %}
{% endblock %}
