{% extends "base.html" %}
{% block title%}
  User Registration
{% endblock %}

{% block nav_list %}
  {% if active_admin.active == True %}
  <li><a href="admin-page">{{active_admin.lastn}}, {{active_admin.name}}</a></li>
  {% else %}
  <li><a href="login-form">Log In</a></li>
  <li><a href="signup-form">Sign Up</a></li>
  {% endif %}
{% endblock %}
{% block content %}
{% if active_admin.active == True %}
<h2 class="h2">User Registration</h2>
<article class="form-container">
    <form action="crear-usuario/nuevo" class="form__createuser" method="post">
        {% csrf_token %}
        <div class="form-input">
            <label for="user_name">Nombre: </label>
            <input type="text" placeholder="Nombre del Usuario..." name="user_name" id="user_name" required>
        </div>
        <div class="form-input">
            <label for="user_lastn">Apellido: </label>
            <input type="text" placeholder="Apellido del Usuario..." name="user_lastn" id="user_lastn" required>
        </div>
        <div class="form-input">
            <label for="user_sector">Sector: </label>
            <input type="text" placeholder="Sector..." name="user_sector" id="user_sector" required>
        </div>
        <div class="form-input">
            <label for="user_costc">Centro de Costos</label>
            <input type="number" name="user_costc" id="user_costc" required>
        </div>
        <div class="submit-input">
            <button class="btn"><a href="/">Home</a></button>
            <input type="submit" class="submit-btn btn" value="Create">
        </div>
    </form>
</article>
{% else %}
<h2 class="h2">You are not authenticated</h2>
<p>Please <a href="login-form">Log In</a></p>
{% endif %}
{% endblock %}