{% extends "base.html" %}

{% block content %}

<article class="container-tickets">
  <section class="container-tickets__ticket">
    {% for incident in incidentes %}
    <div class="ticket">{{incident}}</div>
    {% endfor %}
    <section class="container-tickets__btn">
      <button class="btn create-ticket-btn"><a href="create-ticket" id="create-ticket-a">Report an Incident</a></button>
      <button class="btn"><a href="">Refresh</a></button>
    </section>
  </section>
</article>

{% endblock %}