{% extends "base.html" %}
{% block title%}
  Plantas
{% endblock %}

{%block nav_list%}
  {% if active_admin.active != False %}
    <li><a href="admin-page">{{active_admin.lastn}}, {{active_admin.name}}</a></li>
  {% else %}
   <li><a href="login-form">Log In</a></li>
   <li><a href="signup-form">Sign Up</a></li>
  {% endif %}
{% endblock%}

{% block content %}
<h2 class="h2">Registered Plants</h2>
<article class="container-objects">
  {% if plantas.count == 0%}
  <h3 class="h2">No Registered Plants</h3>
  {% else %}
  <section>
    <div class="row">
      <div class="column">ID</div>
      <div class="column">Name</div>
      <div class="column">Location</div>
    </div>
    
    {% for planta in plantas %}
      <div class="row">
        <div class="column">{{planta.id}}</div>
        <div class="column">{{planta.plantaName}}</div>
        <div class="column">{{planta.plantaLocation}}</div>
      </div>
    {%endfor%}
    {% endif %}
  </section>
  <div class="submit-input">
    <button class="btn"><a href="/">Home</a></button>
    <button class="btn"><a href="crear-planta">Register Plant</a></button>
</div>
</article>
{% endblock %}