{% extends "base.html" %}
{% block title%}
  Admin Registration
{% endblock %}

{% block nav_list %}
  <li><a href="login-form">Log In</a></li>
  <li><a href="signup-form">Sign Up</a></li>
{% endblock %}

{% block content %}
<h2 class="h2">Sign Up</h2>
<article class="form-container">
  <form action="signup-form/create" method="post">
    {% csrf_token %}
    <div class="form-input">
      <label for="admin_name">Nombre:</label>
      <input type="text" name="admin_name" id="admin_name">
    </div>
    <div class="form-input">
      <label for="admin_lastn">Apellido:</label>
      <input type="text" name="admin_lastn" id="admin_lastn">
    </div>
    <div class="form-input">
      <label for="admin_username">Nombre de Usuario:</label>
      <input type="text" name="admin_username" id="admin_username">
    </div>
    <div class="form-input">
      <label for="admin_password">Contraseña:</label>
      <input type="password" name="admin_password" id="admin_password">
    </div>
    <div class="submit-input">
            <button class="btn"><a href="/">Go Back</a></button>
            <input type="submit" class="submit-btn btn" value="Create">
    </div>
  </form>
</article>

{% endblock %}