{% extends "base.html" %}
{% block title%}
  Usuarios
{% endblock %}

{%block nav_list%}
  {% if active_admin.active != False %}
    <li><a href="admin-page">{{active_admin.lastn}}, {{active_admin.name}}</a></li>
  {% else %}
   <li><a href="login-form">Log In</a></li>
   <li><a href="signup-form">Sign Up</a></li>
  {% endif %}
{% endblock%}

{% block content %}
<h2 class="h2">Registered Users</h2>
<article class="container-objects">
    {% if usuarios.count == 0%}
    <h3 class="h2">No Registered Users</h3>
    {% else %}
    <section>
    <div class="row">
        <div class="column">ID</div>
        <div class="column">Name</div>
        <div class="column">Last Name</div>
        <div class="column">Sector</div>
        <div class="column">Cost Center</div>
    </div>
    {% for usuario in usuarios %}
    <div class="row">
        <div class="column">{{usuario.id}}</div>
        <div class="column">{{usuario.name}}</div>
        <div class="column">{{usuario.lastn}}</div>
        <div class="column">{{usuario.sector}}</div>
        <div class="column">{{usuario.costCenter}}</div>
    </div>
    {% endfor %}
    {% endif %}
    </section>   
        <div class="submit-input">
        <button class="btn"><a href="/">Home</a></button>
        <button class="btn"><a href="/crear-usuario">Register User</a></button>
    </div>
</article>
{% endblock %}