html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Red Hat Mono', monospace;
    font-size: 16px;
    background-color: #f4c0ff;
}

h1 {
    margin: 20px auto;
    text-align: center;
    color:#5E5694;
}

/* CSS Index */

.container-objects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 150px 0 150px;
}
.row {
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: max-content;
    background-color: #EEE;
}

.row:first-child{
    font-weight: bold;
    text-align: center;
    background-color: #5E5694;
    color: #FFF;
    border-bottom: none;
    border-radius: 25px 25px 0 0 ;
}

.column {
    width: 100%;
    padding: 5px 10px;
    border-right: 2px solid #5E5694;
    border-bottom: 2px solid #5E5694;
    opacity: .8;
}

.column:last-child {
    border-right: none;
}

.incident__id {
    font-weight: bold;
    color: #5E5694;
}


.header {
    height: 60px;
    background-color: #5E5694;
}

.navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.logo {
    color: #EEE;
}


.navbar ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}


.navbar ul li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: center;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li{
    height: inherit;
}

.navbar ul li a{
    text-decoration: none;
    color: #EEE;
    display: block;
    padding: 17px 5px 0 5px;
    height: calc(100% - 17px);
    transition: background-color .2s, color .2s;
}

.navbar ul li a:hover{
    background-color: #f4c0ff;
    color: #5E5694;
}
.h2 {
    text-align: center;
    color: #5E5694;
    opacity: .9;
}

.container-objects__btn {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.btn a {
    text-decoration: none;
    color: #EEE;
}

.btn:hover {
    opacity: .8;
}

.btn a:active {
    text-decoration: none;
    color: #EEE;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 9999px;
    background-color: #5E5694;
    color: #EEE;
    font-family: 'Varela Round', monospace;
    transition: opacity .2s;
}

.btn a {
    padding: 10px 20px;
    display: block;
}

.create-ticket-btn {
    padding: 0;
}

#create-ticket-a {
    padding: 10px 20px;
}

.form-input {
    margin: 20px 0;
    width: 100%;
}

.submit-input {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
}

.submit-btn {
    box-sizing: border-box;
    border: 2px solid #5E5694;
    cursor: pointer;
    background-color: #FFF;
    color: #5E5694;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px;
}

.form-container {
    padding: 5px 20px;
    text-align: left;
    margin: 25px 25% 0 25%;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 25px;
}

select {
    opacity: .8;
    padding: 5px 10px;
    background-color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 20px;    
}

select:focus {
    outline: 2px solid #5E5694;
}

label {
    font-weight: bold;
    color: #5E5694;
    opacity: .8;
}

input {
    margin-top: 5px;
}

input[type="text"] {
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
    color: #5E5694;
    font-family: "Red Hat Mono", monospace;
    transition: outline .2s, opacity .2s;
    -moz-transition: outline .2s, opacity .2s;
    box-sizing: border-box;
    opacity: .8;
}

input[type="text"]:focus {
    outline: 2px solid #5E5694;
    opacity: 1;
}

input[type="text"]::placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/*Comienzo CSS Usuarios */

.usuarios-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usuarios__usuario {
    text-align: center
}

/* Comienzo CSS Analistas */

.analistas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.analistas__analista {
    text-align: center
}